<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Fall 2023, Sections 002
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2
</span>
</center></i>

# Introduction

This notebook contains HW2. **Both Programming and Nonprogramming tracks should complete this part.** To ensure everything runs as expected, work on this notebook in Jupyter.

Submission instructions:

* You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
* For the PDF:
    * The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    * **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
* For the ZIP:
    * Zip a folder containing this notebook and any screenshots.
* Further submission instructions may be posted on Edstem.

# Setup

In [ ]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost
%sql SELECT 1

In [ ]:
import csv
import copy

import pandas as pd
import pymysql

In [ ]:
sql_conn = pymysql.connect(
    user="root",
    password="dbuserdbuser",
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

cur = sql_conn.cursor()
res = cur.execute("SELECT 1")
res = cur.fetchall()
res

# Written Questions

## W1

Codd's Third Rule states, "Null values (distinct from the empty character string or a string of blank characters and distinct from zero or any other number) are supported in fully relational DBMS for representing missing information and inapplicable information in a systematic way, independent of data type."

Briefly explain the value of this rule and provide two examples.

Answer:

## W2

Codd's 6th rule states, "All views that are theoretically updatable are also updatable by the system."

Using the following table definition, use SQL (```CREATE VIEW```) to define:
1. Two views of the table that are theoretically not possible to update.
2. One view that is theoretically possible to update.

You do not need to execute the create statement. We are focusing on your understanding.


```
create table midterm_students
(
	social_security_no char(9) not null
		primary key,
	last_name varchar(64) null,
	first_name varchar(64) null,
	enrollment_year year null,
	total_credits int null
);
```

Answer:

## W3

In the Columbia University [directory of classes](http://www.columbia.edu/cu/bulletin/uwb/#/cu/bulletin/uwb/subj/COMS/W4111-20233-002), the "Section Key" for this course is ```20233COMS4111W002```.

- Explain why having a column ```section_key varchar(17)``` that holds section key values is non-atomic.
- Give two explanations for why using the section key (non-atomic data) for a column causes problems.

Answer:

## W4

Briefly explain the differences between

- Database stored procedures
- Database functions
- Database triggers

Answer:

## W5

Consider the `db_book` schema, which we have used in class and previous HWs.

1. Is any entity type in the schema a _weak entity_? If yes, list one of them.
2. In database design, using ```ON DELETE CASCADE``` may not be desired behavior/design. Why is it more likely that ```ON DELETE CASCADE``` is the correct behavior for weak entities when the referenced row is deleted?

Answer:

## W6

Briefly explain the differences between:
1. _Candidate Key_ and _Super Key_
2. _Primary Key_ and _Unique Key_
3. _Natural Key_ and _Surrogate Key_

Answer:

## W7

1. Briefly explain the concept of a _database cursor_.
2. Why is using a cursor helpful for applications processing database information?

Answer:

## W8

Give two reasons for using an associate entity to implement a relationship instead of a foreign key.

Answer:

## W9

Briefly explain the following data modeling concepts:

- Conceptual model
- Logical model
- Physical model

Answer:

## W10

Briefly explain the difference between _data definition language_ and _data manipulation language_.

Answer:

# DDL

- You have a logical ER diagram below.


- You need to use DDL to define a schema that realizes the model.


- Logical models are not specific enough for direct implementation. This means that:
    - You will have to assign concrete types to columns and choose things like ```GENERATED```, ```DEFAULT```, etc.
    - You have to make assumptions about things like ```NOT NULL```.
    - You may have to make other design and implementation choices. **This means that there is no single correct answer.**
    
    
- In addition to the key constraints, you must also implement the following constraints:
    - `id` values must be an auto-incrementing integer
    - ```email``` must contain an ```@``` and end in ```.edu```
    - `rank` must be one of `Member` or `Admin`
    - ```num_stars``` must be between 1 and 5

| <img src="./book_club_er.png"> |
| :---: |
| __ER Diagram__ |

_Design Decisions, Notes, etc._ Document any assumption or decisions.

Execute your DDL in the cell below.

In [ ]:
%%sql

DROP SCHEMA IF EXISTS f23_hw2_er;
CREATE SCHEMA f23_hw2_er;
USE f23_hw2_er;

In [ ]:
%%sql

# SQL

## Overview

- The directory contains a file ```people_info.csv```. The columns are
    - ```first_name```
    - ```middle_name```
    - ```last_name```
    - ```email```
    - ```employee_type,``` which can be one of ```Professor```, ```Lecturer```, ```Staff```. The value is empty if the person is a student.
    - ```enrollment_year``` which must be in the range ```2016-2023```. The value is empty if the person is an employee.
    

- If ```enrollment_year``` is not NULL, the person is a ```Student``` and ```employee_type``` must be NULL. If ```employee_type``` is not NULL, then the person is a ```Employee``` and ```enrollment_year``` must be NULL.


- You must implement a [two-table](https://vertabelo.com/blog/inheritance-in-a-relational-database/) solution to the inheritance pattern. This means that your solution will have tables ```student``` and ```employee```, and have a view ```people```.


- **You must demonstrate correct implementation by loading the data, using select statements, attempting insert/update/delete, ...**

In [ ]:
%%sql

DROP SCHEMA IF EXISTS f23_hw2;
CREATE SCHEMA f23_hw2;
USE f23_hw2;

## Tables and View

- You must implement the two tables and view, including reasonable data types and constraints. **This must include an additional column ```uni``` that we explain below.** You may add additional columns and triggers if that helps.
    1. `uni` is the primary key.
    2. ```employee_type``` must be one of ```Professor```, ```Lecturer```, ```Staff```.
    3. ```enrollment_year``` must be in the range ```2016-2023``` inclusive.
    4. Only ```middle_name``` can be null.
    5. ```email``` must be unique over both ```student``` and ```employee```. Note that this constraint should be checked when inserting new rows _and_ updating existing rows.

In [ ]:
%%sql

## UNI

- `uni`:
    1. Must be of the form `fml####`, where `f` is the first letter (lowercased) of the first name, `m` is the first letter of the middle name (if not NULL), `l` is the first letter of the last name, and `#` is a number.
    2. For any combination of letters, the numbers following the letters must start at 1 and increase. That is, `dff0001`, `ab0001`, `dff0002`, `cd0001`, `cad0001`, `cd0002`, ...
    3. You must implement a function to generate the ```uni```.
    4. You must implement triggers on the relevant tables to automatically set the ```uni``` during an insert.
    5. You must implement triggers that adjust the `uni` if a person's initials change during an update.
    6. You must implement logic that prevent inserts from directly setting the `uni` and updates from directly changing the ```uni```.

In [ ]:
%%sql

## Procedures

- You must implement four stored procedures. The implementations of the four procedures are almost identical.
    1. The procedures are:
        1. `create_student(first_name, middle_name, last_name, email, enrollment_year, uni)`
        2. `create_employee(first_name, middle_name, last_name, email, employee_type, uni)`
        3. `update_student(uni, first_name, middle_name, last_name, email, enrollment_year)`
        4. `update_employee(uni, first_name, middle_name, last_name, email, employee_type)`
    2. For updates, the procedures ignore input parameters that are NULL and only apply the non-NULL values. The procedures do not update the ```uni```.
    3. The create procedures return the ```uni``` as an out value.

In [ ]:
%%sql

## Security

- You must create a new user `general_user` and use security to allow it to perform only `SELECT` and `EXECUTE` operations (i.e., no ```INSERT```, ```DELETE```, and ```UPDATE``` operations).

In [ ]:
%%sql

## Data Insertion

In [ ]:
%%sql

# The following assumes that you have created everything properly

DELETE FROM f23_hw2.student;
DELETE FROM f23_hw2.employee;

In [ ]:
people_info = []
with open("people_info.csv", "r") as in_file:
    d_rdr = csv.DictReader(in_file)
    for r in d_rdr:
        people_info.append(dict(r))

people_info_df = pd.DataFrame(people_info)
people_info_df

In [ ]:
# If you have defined your procedures, functions, tables, and constraints correctly, you can use the function below
# to load your data.

def add_person(p):
    """
    p is a dictionary containing the column values for either a student or an employee.
    """
    
    cur = sql_conn.cursor()
    
    # This function changes the data, converting '' to None.
    # So, we make a copy and change the copy.
    p_dict = copy.copy(p)
    for k,v in p_dict.items():
        if v == '':
            p_dict[k] = None
    
    # Is the person a student?
    #
    if p_dict['employee_type'] is None:
        
        # This provides a hint for what your stored procedure will look like.
        res = cur.callproc("f23_hw2.create_student",
                           # The following are in parameters
                          (p_dict['first_name'],
                          p_dict['middle_name'],
                          p_dict['last_name'],
                           p_dict['email'],
                          p_dict['enrollment_year'],
                           # The following are out parameters for uni.
                          None))
        
        # After the procedure executes, the following query will select the out values.
        res = cur.execute("""SELECT @_f23_hw2.create_student_5""")
        result = cur.fetchall()
    
    # The following does the same for employee.
    elif p_dict['enrollment_year'] is None:
        res = cur.callproc("f23_hw2.create_employee",
                          (p_dict['first_name'],
                          p_dict['middle_name'],
                          p_dict['last_name'],
                           p_dict['email'],
                          p_dict['employee_type'],
                          None))
        res = cur.execute("""SELECT @_f23_hw2.create_student_5""")
        result = cur.fetchall()
    else:
        print("Something went wrong")
        result = None
    
    sql_conn.commit()
    cur.close()
    return result

In [ ]:
for p in people_info:
    add_person(p)

In [ ]:
# Test that we loaded people
%sql SELECT * FROM people

In [ ]:
# Test that we loaded students
%sql SELECT * FROM student

In [ ]:
# Test that we loaded employees
%sql SELECT * FROM employee

## Testing

Add your tests below. You should test

1. Successful execution of each procedure.
2. Execution of update procedures showing that your constraints prevent incorrect data entry and enforce the defined semantics and behavior.
3. ```general_user``` can query the data and call the procedures, but cannot perform ```INSERT```, ```UPDATE```, or ```DELETE```.