<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Fall 2023</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 6: ER, Relational, SQL (V) Examples</span>
</center></i>

__Note:__ Modifying width of cells for wider displays.

# Setup

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

# Indexes

## Get Some Big Data

- I use [public data from IMDB](https://developer.imdb.com/non-commercial-datasets/) for some examples in the course.
<br><br>
- __Do not try to load this data.__ The datasets are too large for most laptops.
<br><br>
- The following creates a database that will hold the data.

In [12]:
%%sql

drop database if exists F23_IMDB_Raw;

create database if not exists F23_IMDB_Raw;

use F23_IMDB_Raw;

drop table if exists name_basics;
CREATE TABLE `name_basics` (
  `nconst` text,
  `primaryName` text,
  `birthYear` text,
  `deathYear` text,
  `primaryProfession` text,
  `knownForTitles` text
);

drop table if exists title_akas;


create table title_akas (
    titleid text,
    ordering text,
    title text,
    region text,
    language text,
    types text,
    attributes text,
    is_original_title text
);

drop table if exists title_basics;

create table title_basics (
    tconst text,
    title_type text,
    primary_title text,
    original_title text,
    is_adult text,
    start_year text,
    end_year text,
    runtime_minutes text,
    genres text
);

drop table if exists title_crew;
create table title_crew
(
    tconst    text,
    directors text,
    writers   text
);

drop table if exists title_episodes;
create table title_episodes (
    tconst text,
    parent_tconst text,
    season_number text,
    episode_number text);

drop table if exists title_principals;
create table title_principals (
    tconst text,
    ordering text,
    nconst text,
    category text,
    job text,
    characters text);

drop table if exists  title_ratings;
create table title_ratings (
    tconst text,
    average_rating text,
    no_votes text);

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
7 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

- For security reasons database servers, including MySQL, protect running ```LOAD``` statements to prevent malicious programs from injecting data into DBs.<br><br>


- MySQL requires setting properties on the connection and the database server.<br><br>



- Load is a MySQL command-utility for efficiently loading large datasets. There are also specialized tools, which we will see later in the semester.

In [3]:
import sqlalchemy

In [4]:
%sql mysql+pymysql://root:dbuserdbuser@localhost?local_infile=1

In [13]:
%%sql


use F23_IMDB_Raw;

SET GLOBAL local_infile = true;

select current_time() into @start_time;

/* Must also set allowlocalloadinfile in connection properties in IDE or
   set property properly in connection. Also set the secure file load path.
*/
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/name.basics.tsv' into table name_basics fields terminated by '\t' ignore 1 rows;
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/title.akas.tsv' into table title_akas fields terminated by '\t' ignore 1 rows;
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/title.basics.tsv' into table title_basics fields terminated by '\t' ignore 1 rows;
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/title.crew.tsv' into table title_crew fields terminated by '\t' ignore 1 rows;
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/title.episode.tsv' into table title_episodes fields terminated by '\t' ignore 1 rows;
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/title.principals.tsv' into table title_principals fields terminated by '\t' ignore 1 rows;
load data local infile '/Users/donaldferguson/Dropbox/00NewData/IMDB/title.ratings.tsv' into table title_ratings fields terminated by '\t' ignore 1 rows;

select current_time() into @end_time;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.
0 rows affected.
1 rows affected.
12153584 rows affected.
34248686 rows affected.
9448506 rows affected.
9448506 rows affected.
7141880 rows affected.
53606616 rows affected.
1257688 rows affected.
1 rows affected.

[]

In [17]:
%sql select @start_time, @end_time, timediff(@end_time, @start_time) as elapsed_time;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
1 rows affected.

[('09:00:39', '09:06:19', datetime.timedelta(seconds=340))]

- Comments:
    - I have a very powerful developer laptop. This might overwhelm your laptops.
    - This data seems big but is actually small compared to real world data.

In [20]:
%sql select format(count(*) as name_basics_rows from name_basics;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
1 rows affected.

[(12153584,)]

<img src="./cpu_time_load.png">

## Make Copies

- I make copies of data and clean up the copies.<br><br>
- I do this for teaching reasons but this is a common practice for flexibility.

In [21]:
%%sql

drop database if exists F23_IMDB_Clean;
create database F23_IMDB_Clean;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.
1 rows affected.

[]

In [22]:
%%sql

create table F23_IMDB_Clean.name_basics as select * from F23_IMDB_Raw.name_basics;
create table F23_IMDB_Clean.title_basics as select * from F23_IMDB_Raw.title_basics;
create table F23_IMDB_Clean.title_principals as select * from F23_IMDB_Raw.title_principals;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
12153584 rows affected.
9448506 rows affected.
53606616 rows affected.

[]

## Start Cleanup

- Start of data modeling ... ...

<img src="./associative_entity.png">

- Let's start with a couple of changes.

In [23]:
%%sql

use f23_imdb_clean;

alter table name_basics
    modify nconst varchar(16) null;

alter table name_basics
    modify primaryName varchar(256) null;

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.
12153584 rows affected.
12153584 rows affected.

[]

In [24]:
%%sql

create index name_basics__index
    on name_basics (primaryName);

alter table name_basics
    add constraint name_basics_pk
        primary key (nconst);

   mysql+pymysql://root:***@localhost
 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.
0 rows affected.

[]

## Value of Indexes

In [29]:
import time
import pymysql

In [36]:
def time_a_query(sql, loop_count):
    
    conn = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="dbuserdbuser",
        cursorclass=pymysql.cursors.DictCursor,
        autocommit=True)
    
    cur = conn.cursor()
    
    start_time = time.time()
    
    result = None
    
    for i in range(0, loop_count):
        res = cur.execute(sql)
        if i == loop_count-1:
            result = cur.fetchall()
            
    end_time = time.time()
    
    conn.close()
    
    print("\nSQL = ", sql)
    print("Start time:", start_time)
    print("End time:", end_time)
    print("Elapsed time:", end_time-start_time)
    print("Result = ", result)

In [40]:
sql_slow = "select * from f23_imdb_raw.name_basics where primaryName='Tom Hanks'"
sql_fast = "select * from f23_imdb_clean.name_basics where primaryName='Tom Hanks'"

In [38]:
time_a_query(sql_slow, 10)

SQL =  select * from f23_imdb_raw.name_basics where primaryName='Tom Hanks'
Start time: 1697122072.128045
End time: 1697122109.094788
Elapsed time: 36.96674299240112
Result =  [{'nconst': 'nm0000158', 'primaryName': 'Tom Hanks', 'birthYear': '1956', 'deathYear': None, 'primaryProfession': 'producer,actor,soundtrack', 'knownForTitles': 'tt0162222,tt0094737,tt1535109,tt0109830'}]

In [41]:
time_a_query(sql_fast, 10)

SQL =  select * from f23_imdb_clean.name_basics where primaryName='Tom Hanks'
Start time: 1697122183.032757
End time: 1697122183.041484
Elapsed time: 0.008727073669433594
Result =  [{'nconst': 'nm0000158', 'primaryName': 'Tom Hanks', 'birthYear': '1956', 'deathYear': None, 'primaryProfession': 'producer,actor,soundtrack', 'knownForTitles': 'tt0162222,tt0094737,tt1535109,tt0109830'}]

- The performance improvement of the index is: 36.9/0.009

In [42]:
36.9/0.009

4100.0

- This increases exponentially with the size of the tables.<br><br>


- This becomes extremely important for JOIN.<br><br>


- I would now create indexes, foreign keys, etc.